<h1>Welcome</h1>
  <ul>
    <li><%= link_to 'Accounts', accounts_path %></li>
    <li><%= link_to 'Opportunities', opportunities_path %></li>
    <li><%= button_to 'Login', users_path %></li>
  </ul>
